
<div style="position: absolute; bottom: 0; width: 100%; text-align: center; " class="ui inverted footer segment">
    <div class="ui container">
        Made with  <i class="fas fa-heart"> </i>  by Shivam Yadav
    </div>
</div>

</body>
</head>
</html>

