<label for="JokeType">Select Genre:</label>
<select class="jokeTypeButton" name="Genrelist">
  <option value="dadJokes"><a href="/getJokes/dadJokes" >Dad Jokes</a></option>
  <option value="chuck"><a href="/getJokes/chuck" >Chuck Norris Jokes</a></option>
</select>