<!-- 
<div>
    <button class="jokeTypeButton"> <a href="/getJokes/dadJokes" >Get Dad Jokes</a></button>
    <button class="jokeTypeButton"> <a href="/getJokes/chuck" >Get Chuck Norris Jokes</a></button>
</div> -->

<label for="JokeType">Select Genre:</label>
<select class="jokeTypeButton" name="Genrelist">
  <option value="dadJokes"><a href="/getJokes/dadJokes" >Dad Jokes</a></option>
  <option value="chuck"><a href="/getJokes/chuck" >Chuck Norris Jokes</a></option>
</select>