
<div>
    <button class="jokeTypeButton"> <a href="/getJokes/dadJokes" >Get Dad Jokes</a></button>
    <button class="jokeTypeButton"> <a href="/getJokes/chuck" >Get Chuck Norris Jokes</a></button>
</div>