<label for="JokeType">Select Genre:</label>
<select class="jokeTypeButton" name="Genrelist">
  <option value="dadJokes"><a href="/getJokes/dadJokes">Dad Jokes</a></option>
  <option value="chuck">
    <a href="/getJokes/chuck">Chuck Norris Jokes</a>
  </option>
  <option value="geek">
    <a href="/getJokes/geek">Geek Jokes</a>
  </option>
  <option value="manatee">
    <a href="/getJokes/manatee">Manatee Jokes</a>
  </option>
  <option value="ninja">
    <a href="/getJokes/ninja">Ninja Jokes</a>
  </option>
</select>
