
<div>
    <button style="margin-bottom:20px; background-color: #4ECDC4; border: none; border-radius: 10px; font-size: 22px;"> <a href="/" style="color: white;">Get Dad Jokes</a></button>
    <button style="margin-bottom:20px; background-color: #4ECDC4; border: none; border-radius: 10px; font-size: 22px;"> <a href="/chuck" style="color: white;">Get Chuck Norris Jokes</a></button>
</div>