body {
    background: #38b6ff;  /* fallback for old browsers */
    background: #38b6ff;  /* Chrome 10-25, Safari 5.1-6 */
    background: #38b6ff; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Poppins';

}

.ui.cards > .card > .content, .ui.card > .content {
    margin: 2em;
}

ui.container {
    margin-top: 5em;
}
.icon{
    fill: red;
}

.jokeTypeButton{
    margin-bottom:20px; 
    background-color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 12px;
    padding: 2px;
}

.jokeTypeButton a{
    color: white;
}
#Newjokebtn a{
    background-color: #38b6ff;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.twitter-icon img {
    margin-bottom: -4.5px;
}

.ui raised centered yellow card , .ui bottom attached button{
    border: 5px solid black !important;
}