body {
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Poppins';

}

.ui.cards > .card > .content, .ui.card > .content {
    margin: 2em;
    /*font-weight: 500;*/
}

ui.container {
    margin-top: 5em;
}

.fas.fa-heart {
    color: red;
}

.jokeTypeButton{
    margin-bottom:20px; background-color: #4ECDC4; border: none; border-radius: 10px; font-size: 22px;
}

.jokeTypeButton a{
    color: white;
}

